footer {
    width: 100%;
    min-height: 15vh;
    background-color: #051120;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .copyright {
        font-size: 18px;
        color: #404751  ;
    }
}

